.box-contacto{

    div{
        svg{
            fill: $mainColor;
            width: 20px;
            margin-right: 10px;
        }

        div{
            display: flex;

            p{
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}


