footer{
    margin: 90px 80px 80px 80px;
    display: flex;
    justify-content: space-between;

    .logo-footer{
        width: 50%;
    }

    img{
        width: 20%;
    }

    .d-block{
        display: flex;
        flex-direction: column;
        &:hover{
            font-weight: $textbold;
            color: black;
        }
    }

    svg{
        display: flex;
        flex-wrap: nowrap;
        fill: $mainColor;
        width: 30px;
        margin-bottom: 10px;
    }

    a{
        text-decoration: none;
        color: $mainColor;
    }

    .terminos-logos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
    }
}
