// extends
.box-gral{
    border: solid 1px $secondColor;
    border-radius: 6px;
}

.box-testimonios{
    @extend .box-gral;
    width: 40%;
    padding: 20px 30px;
    margin: 30px;
    text-align: start;
}

.box-trabajo{
    @extend .box-gral;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
}

.box-precios{
    @extend .box-gral;
    width: 30%;
    margin: 30px 20px;
    padding: 30px 30px;

    &:hover{
        transform: scale(1.099);
        transition: all 1s;
        cursor: pointer;
    }
}

.box-contacto{
    @extend .box-gral;
    margin: 40px 200px ;
    padding: 50px 40px;
    display: flex;
    justify-content: space-between;
}


// mixins
@mixin textos ($size, $weight, $marginbottom, $margintop){
    font-size: $size;
    font-weight: $weight;
    margin-bottom: $marginbottom;
    margin-top: $margintop;
    font-family: $mainFont;
}