// nesting

.botonera{
    background-color: white;
    font-family: $mainFont;
    font-weight: $textRegular;
    font-size: $textxxSm;
    padding: 30px 80px 20px 80px;
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container-fluid{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .navbar-brand{
            width: 30%;
            img{
                width: 40%;
            }
        }

            ul{
                list-style: none;
                display: flex;

                .btn{
                    margin-left: 30px;
                }

                li{
                    margin-left: 30px;
                    a{
                        width: 100%;
                        color: $mainColor;
                        text-decoration: none;
                        cursor: pointer;
                        &:hover{
                            font-weight: $textExtraBold;
                        }
                    }
                }
            } 
    }
}
