.header-img-nosotros{
    width: 100%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.grid-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 250px 600px 90px 850px 300px;
    gap: 10px;
    grid-template-areas: 
    "nosotros nosotros nosotros nosotros nosotros nosotros"
    "img img img img img img"
    "equipo equipo equipo equipo equipo equipo"
    "figuras figuras figuras figuras figuras figuras"
    "trabajo trabajo trabajo trabajo trabajo trabajo";
    justify-content: center;
    align-items: flex-start;

    .nosotros{
        grid-area: nosotros;
        text-align: center;
        margin-left: 300px;
        margin-right: 300px;

        p{
            @include textos (1.5em, 400, 0px, 30px);
        }
    }

    .img{
        display: flex;
        justify-content: center;
        grid-area: img;
        margin-left: 200px;
        margin-right: 200px;

        .img2{
            width: 100%;
        }
    }

    .equipo{
        grid-area: equipo;
        text-align: center;
        margin-left: 200px;
        margin-right: 200px;
        margin-bottom: 30px;
    }

    .figuras{
        grid-area: figuras;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 100px;
        margin-right: 100px;

        figure{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            width: 40%;

            figcaption{
                font-size: $textxxSm;
                font-weight: $textbold;
                margin-top: 30px;
            }

            p{
                @include textos (1em, 400, 0px, 5px);
                text-align: center;
                margin-left: 20px;
                margin-right: 20px;
            }

            img{
                width: 50%;
            }
        }
    }

    .trabajo{
        grid-area: trabajo;
        text-align: center;
        
        h2{
            margin-bottom: 10px;
        }

        p{
            text-align: center;
            font-size: $textxxSm;
            margin-bottom:30px;
        }

        button{
            background-color: $mainColor;
            color: $tercerColor;
        }
    }
}

