.texto-precios h1{
    margin-top: 200px;
    text-align: center;
    margin-bottom: 0px;
}

.contenedor-precios{
    display: flex;
    justify-content: space-between;
    margin: 0px 80px 0px 80px;
}