// variables globales

// colores
$mainColor: black;
$secondColor: rgb(201, 201, 201);

// fonts
$mainFont: 'Manrope', sans-serif;
$textLight:300;
$textRegular:400;
$textbold:700;
$textExtraBold:800;
$textXLg: 3em;
$textLg: 2em;
$textMd: 1.563em;
$textSm: 1.438em;