// variables globales

// colores
$mainColor: black;
$secondColor: #FBFCFF;
$tercerColor: white;
$cuartoColor: rgb(65, 110, 242);

// fonts weight
$mainFont: 'Manrope', sans-serif;
$textLight:300;
$textRegular:400;
$textMedium: 600;
$textbold:700;
$textExtraBold:800;

// fonts size
$textxxLg: 3em;
$textXLg: 2.5em;
$textLg: 2.2em;
$textMd: 1.8em;
$textSm: 1.563em;
$textxSm: 1.438em;
$textxxSm: 1em;
$textxxxSm: 0.8em;